altair==5.1.2
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope==0.1.3
arrow==1.3.0
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
black==23.7.0
boto3==1.28.70
botocore==1.31.70
cattrs==23.1.2
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
colour==0.1.5
comm==0.1.4
contourpy==1.1.1
cpe==1.2.1
cybox==2.1.0.21
cycler==0.12.1
decorator==5.1.1
deepdiff==6.6.1
diff-cover==7.7.0
drawsvg==2.3.0
duckdb==0.9.1
duckdb-engine==0.9.2
et-xmlfile==1.1.0
executing==2.0.0
fastjsonschema==2.18.0
fonttools==4.43.1
fqdn==1.5.1
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
humanfriendly==10.0
idna==3.4
importlib-resources==6.1.0
iniconfig==2.0.0
ipyfilechooser==0.6.0
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==5.12.0
jedi==0.19.1
Jinja2==3.0.3
jinjasql==0.1.8
jmespath==1.0.1
jsonpointer==2.4
jsonschema==4.17.3
jsonschema-specifications==2023.7.1
jupysql==0.10.2
jupysql-plugin==0.2.6
jupyter_core==5.3.1
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
loguru==0.7.2
lxml==4.9.3
maec==4.1.0.17
magic-duckdb==0.1.26
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mitreattack-python==2.1.1
mixbox==1.0.5
monotonic==1.6
mypy==1.5.1
mypy-extensions==1.0.0
nbformat==5.9.2
nbstripout==0.6.1
netaddr==0.9.0
networkx==3.2
numpy==1.26.1
openpyxl==3.1.2
ordered-set==4.1.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
ploomber-core==0.2.14
pluggy==1.3.0
pluralizer==1.2.0
pooch==1.8.0
posthog==3.0.2
prettytable==3.9.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pycountry==22.3.5
Pygments==2.16.1
pyparsing==3.1.1
pyrsistent==0.19.3
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-cache==1.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.10.0
s3transfer==0.7.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.22
sqlfluff==2.3.0
sqlglot==18.17.0
sqlparse==0.4.4
stack-data==0.6.3
stix==1.2.0.11
stix2==3.0.1
stix2-elevator==4.1.7
stix2-patterns==2.0.0
stix2-validator==3.1.4
stixmarx==1.0.8
tabulate==0.9.0
taxii2-client==2.3.0
tblib==2.0.0
tokenize-rt==5.2.0
toml==0.10.2
toolz==0.12.0
tqdm==4.66.1
traitlets==5.12.0
typer==0.9.0
types-python-dateutil==2.8.19.14
types-PyYAML==6.0.12.11
typing_extensions==4.8.0
tzdata==2023.3
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.0.7
wcwidth==0.2.8
weakrefmethod==1.0.3
webcolors==1.13
widgetsnbextension==4.0.9
-e git+ssh://git@github.com/LLNL/Wintap-PyUtil.git@a1482724b17b3e81bd1af1009b0fcbf74f5dcd77#egg=wintappy
XlsxWriter==3.1.9
